@charset "UTF-8";

/* fonte logo */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Cinzel:wght@400;500&family=Merienda:wght@400;500;600&family=Open+Sans:wght@300&family=Roboto:wght@400;900&display=swap');

/* fonte title */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Cinzel:wght@400;500&family=Merienda:wght@400;500;600&family=Open+Sans:wght@300&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;900&display=swap');

#background-escuro {
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100vw;
    padding-bottom: 40px;
}

.sobre-nos {
    gap: 30px;
    position: absolute;
    left: 50%;
    top: 600px;
    transform: translate(-50%);
    background-color: white;
    box-shadow: 1px .5px 1px rgba(0, 0, 0, 0.353);
    height: auto;
    width: 90vw;
    border-radius: 10px;
    padding: 30px;
}

.sub-titulo {
    font: bolder 1.5em 'Roboto', sans-serif;
    border-bottom: 2px solid #444853;
    width: 60vw;
    max-width: 300px;
}

.box-quem-somos {
    align-items: start;
    gap: 20px;
}

.justificado {
    font-weight: normal;
    text-align: justify;
    line-height: 1.6em;
    max-width: 550px;
}

@media (min-width: 800px) 
{
    .sobre-nos {
        flex-direction: row;
        padding: 40px 30px;
        gap: 70px;
        top: 670px;
    }

    .sub-titulo {
        color: #444853;
        font-size: 2em;
    }
}

.box-doctor {
    gap: 30px;
    height: auto;
    width: 85vw;
    padding: 20px;
}

.h3 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.862);
    text-align: center;
    font-size: 1.4em;
}

.img-doctor {
    height: 300px;
    width: 220px;
}

#box-doctor-1 {
    margin-top: 690px;
}

.img-escritorio {
    height: 200px;
    width: 350px;
}

@media (min-width: 800px) 
{
    #background-escuro {
        gap: 50px;
    }

    #box-doctor-1 {
        margin-top: 420px;
    }

    .box-doctor {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 70vw;
        gap: 50px;
    }

    .h3 {
        text-align: center;
        font-size: 1.5em;
        max-width: 580px;
    }

    .img-doctor {
        height: 320px;
        width: 220px;
    }
}

/* ESPECIALIDADES */ 

.especialidade {
    height: auto;
    width: 90vw;
    padding: 40px 20px;
    gap: 30px;
}

.box-especial, .especial {
    height: auto;
    padding: 10px;
    width: 90vw;
    gap: 30px;
}

.especial {
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.292);
    border-radius: 10px;
    gap: 10px;
    width: 80vw;
}

@media(min-width: 800px)
{

    .especialidade {
        margin-top: 10px;
        gap: 50px;
    }

    .box-especial {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px 30px;
    }

    .especial {
        width: 35vw;
    }
}

/* FOOTER */ 

.footer {
    background-color: rgb(0, 0, 54);
    gap: 30px;
    width: 100vw;
    height: auto;
    padding: 40px;
}

.box-contato, .fone {
    gap: 30px;
    height: auto;
    width: 100vw;
}

.fone {
    gap: 10px;
}

.contato {
    gap: 20px;
}

h2#contato {
    border: none;
    text-align: center;
}

.credito {
    width: 80vw;
    padding: 30px 30px 0px 30px;
    border-top: 2px solid rgba(255, 255, 255, 0.204);
}

.mapa {
    background-color: green;
    height: 400px;
    width: 300px;
}

@media  (min-width: 800px)
{
    .footer {
        gap: 50px;
    }

    .box-contato {
        justify-content: space-evenly;
        gap: 0;
        width: 100vw;
        flex-direction: row;
    }

    .contato {
        justify-content: flex-start;
        height: 400px;
        width: 40vw;
    }
}